<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>finality | and we continue</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Just like water, I couldn't have done it alone!</h1>
        <ul class="finality-ul">
            <li>
                Thanks to <a href="https://www.meaganwoodsandcompany.com/">Meagan Woods</a> for all the help and creating the story. You can re-read the story 
                <a href="/story">here</a>.
            </li>
            <li>Thanks to <a href="https://www.liuxinyue.com/">Xinyue Liu</a> for creating the panorama photo.</li>
            <li></li>
            <li>Software packages used: <a href="https://p5js.org/">p5js</a> and <a href="https://cycling74.com/">Max</a></li>
            <li>Photos: <a href="https://www.nasa.gov/multimedia/imagegallery/index.html">NASA Images</a></li>
        </ul>
        <p>If you are interested, you can view the source code for this project <a href="https://github.com/casperleerink/and-we-continue">here</a>.</p>
        <p>&nbsp;</p>
        <p>Thank you all for participating in this journey!</p>
    </div>
</body>
</html>