<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>and we continue</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/101668a678.js" crossorigin="anonymous"></script>
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
    <!-- Main Module -->
    <script type="module" src="script.js"></script>
</head>
<body>
    <div class="container">

        <!-- The streaming player -->
        <div id="stream-container"></div>

        <!-- The sketch! -->
        <div id="sketch-container">
            <button id="fsButton"><i class="fas fa-expand"></i></button>
        </div>

        <!-- The welcoming page -->
        <div id="welcome-page">
            <div class="welcome-container">
                <h1 class='welcome-title'><i>and we continue</i></h1>
                <div class="quote">
                    <q>Enlightenment is when the wave recognizes it is the ocean</q>
                    <p><i>- Thich Nhat Hanh</i></p>
                </div>
                <br>
                <p>
                    In this interactive presentation you will be able to explore the characteristics of water. 
                    While you start out as an individual avatar, throughout the presentation you will see other participants appear, later you will be able to interact with them by moving your avatar around. 
                    Together you will explore attraction, influences, chaos and ultimately 
                    <span class='equifinality' onmouseover="showPopup()" onmouseout="hidePopup()">equifinality
                        <span class="popup-equi" id="popupEqui">
                            Equifinality is the principle that in open systems a given end state can be reached by many potential means. 
                            <br>
                            Also meaning that a goal can be reached by many ways.
                        </span>
                    </span>.
                </p>
                <br>
                <h3>Instructions:</h3>
                <p>• When your screen turns white, you are able to click anywhere on the screen to explore the area.</p>
                <p>• When all other avatars show up, try to get close together as a group to see what happens</p>
                <p>• Explore what happens if you don't follow these instructions!</p>
                <br>
                <p>Make sure to use an up to date browser and large screen (laptop or desktop) to experience <i>and we continue</i>.</p>
                <button id="startButton">Enter the waiting room</button>

                <div class="extra-padding"></div>
            </div>
        </div>
        
    </div>
    <script src="featureCheck.js"></script>
    <script>
        // When the user clicks on <div>, open the popup
        function showPopup() {
          var popup = document.getElementById("popupEqui");
          popup.classList.add("show");
        }
        function hidePopup() {
          var popup = document.getElementById("popupEqui");
          popup.classList.remove("show");
        }
    </script>
</body>
</html>