<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story | and we continue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="story-container">
        <button><a href="/finality">Back to finality</a></button>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h3>Aquifer</h3>
        <p>Nestled beneath stratas of soil and earth</p>
        <p>within aquifers</p>
        <p>I defer&nbsp;</p>
        <p>an escape for decades</p>
        <p>centuries</p>
        <p>still, I move</p>
        <p>seeping until&nbsp;</p>
        <p>my soaking&nbsp;</p>
        <p>saturates</p>
        <p>until I almost forget&nbsp;</p>
        <p>I might exist elsewhere</p>
        <p><strong>My time feels vast here, vaster than you.</strong></p>
        <p>&nbsp;</p>
        <h3>Cloud<em><br /></em></h3>
        <p>Hanging high, squinting so</p>
        <p>my view is less of a bird and more of&nbsp;</p>
        <p>hazy dismemberment</p>
        <p>I have never liked this part.</p>
        <p>But how radiant weightlessness feels here</p>
        <p>suspending inevitability with aplomb</p>
        <p>I hover</p>
        <p>until I can no longer bear such loftiness</p>
        <p><strong>My time feels shorter here, shorter than you.&nbsp;</strong></p>
        <p>&nbsp;</p>
        <h3>Ice</h3>
        <p>Sculpted stoicism</p>
        <p>a gemstone of</p>
        <p>feigned rigidity</p>
        <p>cold and compressed</p>
        <p>braced and unmoving</p>
        <p>until such frozen state&nbsp;</p>
        <p>I can no longer adhere</p>
        <p>and I begin to tear</p>
        <p><strong>My time feels stiller here, stiller than you.&nbsp;</strong></p>
        <p>&nbsp;</p>
        <h3>Ocean</h3>
        <p>I succumb</p>
        <p>float</p>
        <p>with buoyant spirit</p>
        <p>emerging on a surface or diving deep towards a core</p>
        <p>appearing boundless</p>
        <p>incompatibly colossal</p>
        <p>this place- this state- always feels</p>
        <p>somewhat ultimate</p>
        <p>even though breadth</p>
        <p>will not outlast my bounds&nbsp;</p>
        <p><strong>My time feels longer here, longer than you.&nbsp;</strong></p>
        <p>&nbsp;</p>
        <h3>Precipitation</h3>
        <p>Free</p>
        <p>fall</p>
        <p>I deluge</p>
        <p>mist</p>
        <p>glisten</p>
        <p>you guess my form</p>
        <p>you listen&nbsp;</p>
        <p>to hits and thuds</p>
        <p>I am thunderous&nbsp;</p>
        <p>a cascade of strikes</p>
        <p>harsh and still not&nbsp;</p>
        <p>hard enough</p>
        <p>impact stings me with undo</p>
        <p>emphasis of an already&nbsp;</p>
        <p>bracing downfall</p>
        <p>violent velocity</p>
        <p>careful crystals</p>
        <p>unrelenting and surely fleeting</p>
        <p>I am too much to last</p>
        <p><strong>My time passes quickly here, quicker than you.&nbsp;</strong></p>
        <p>&nbsp;</p>
        <h3>River</h3>
        <p>Stone thrown and slippery</p>
        <p>smoothed and unsalted</p>
        <p>slurping and slushing</p>
        <p>I sinuate towards what&rsquo;s next</p>
        <p>what&rsquo;s down</p>
        <p>creeping, dripping, draining, gushing towards&nbsp;</p>
        <p>an expansive reservoir that reflects hues&nbsp;</p>
        <p>of sky&rsquo;s temperament above</p>
        <p>I am eager to find my way out</p>
        <p>my way through</p>
        <p><strong>My time feels similar here, similar to you.&nbsp;</strong></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><em>You are</em> also compressed and we freeze together.</p>
        <p><em>You </em>also fear heights and we cling together.</p>
        <p><em>You </em>also fall up and we float together.</p>
        <p><em>You</em> also ascend and we sublime together.&nbsp;</p>
        <p><em>You </em>also drop and we downfall together.</p>
        <p><em>You</em> also tumble and we cascade together.&nbsp;</p>
        <p><em>You </em>also wait and we linger together.&nbsp;</p>
        <p><em>You </em>also sink deep and we deepen together.</p>
        <p><em>You are </em>also hidden and so we hide together.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>until we are found</p>
        <p>tugged down</p>
        <p>with suddenness that</p>
        <p>somehow passes slowly</p>
        <p>then captured</p>
        <p>in high, harsh places</p>
        <p>harbored for silent ages until</p>
        <p>we crash and gush and bruise</p>
        <p>salting wounds</p>
        <p>then spread across dizzying depths to</p>
        <p>bathe and wait&nbsp;</p>
        <p>for that familiar tug</p>
        <p>this time drawn up&nbsp;</p>
        <p>away from thirsty lives&nbsp;</p>
        <p>lived below</p>
        <p>we remember this place</p>
        <p>this time</p>
        <p>but less surely</p>
        <p>less and less surely.</p>
        <p>&nbsp;</p>
        <p>our movements are becoming</p>
        <p><em>Off</em></p>
        <p>in tally, in scope</p>
        <p>in pacing and waiting</p>
        <p>Our time chilled feels shorter, further from you.</p>
        <p>Our time hotter feels longer, nearer to you.</p>
        <p>Our time feels thrown, tousled by you.&nbsp;</p>
        <p>more of us gather along certain terrains</p>
        <p>saturating until&nbsp;</p>
        <p>dryness bears a bittersweet remembrance</p>
        <p>for these lands that cannot be wrung of wetness</p>
        <p>and people chase after places that are parched</p>
        <p>fleeing from knee-deep depths of us</p>
        <p>us, who have assured their vitality for so long</p>
        <p>we are fled from</p>
        <p>to a place they can stand</p>
        <p>and then in a single turn</p>
        <p>we are missed</p>
        <p>once their throats gasp</p>
        <p>and tongues plead</p>
        <p>and skins itch</p>
        <p>and bellies beckon</p>
        <p>to be sunken once more</p>
        <p>into our depths</p>
        <p>forgetting that their own swimming victories&nbsp;</p>
        <p>have plunged fates deeper towards drowning</p>
        <p>than we ever could have- would have- pushed for</p>
        <p>really, they want to repel and attract, on command, by design&nbsp;</p>
        <p>within a time scale that would crush&nbsp;</p>
        <p>our very countenance</p>
        <p>a dance continues</p>
        <p>much like ours</p>
        <p>but with blurry eyes&nbsp;</p>
        <p>and shifty feet</p>
        <p>and unmeasured pacing</p>
        <p>and fallen figures</p>
        <p>this is not our chaos of abundant complexity</p>
        <p>unpredictable multitudes</p>
        <p>and unlocatable intelligence</p>
        <p>this is chaos</p>
        <p>of flight&nbsp;</p>
        <p>of fright</p>
        <p>a contemptible complexity</p>
        <p><br /><br /></p>
        <p>We&nbsp;</p>
        <p>Are&nbsp;</p>
        <p>Split</p>
        <p>Together</p>
        <p>Everywhere</p>
        <p>I can&rsquo;t keep track</p>
        <p>Keep up</p>
        <p>Follow down</p>
        <p>It&rsquo;s weird</p>
        <p>We&rsquo;re, You and I&nbsp;</p>
        <p>Everything is churning and I&rsquo;m not sure how</p>
        <p>We hold until</p>
        <p>We&rsquo;re together and then</p>
        <p>There&rsquo;s this thing going on that I can see a corner of but not the</p>
        <p>Whole springs dry up</p>
        <p>and coastlines crumble</p>
        <p>and permafrosts shrink</p>
        <p>and oceans widen</p>
        <p>and we negotiate</p>
        <p>and we invent</p>
        <p>and we continue</p>
        <p>and we miss each other</p>
        <p>&nbsp;</p>
        <p>if only we hadn&rsquo;t attracted</p>
        <p>how vastly this would have turned out</p>
        <p>differently</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>I am shy</p>
        <p>by my squinted perspective of&nbsp;</p>
        <p>befores.</p>
        <p>Look at myself wide.</p>
        <p>You- look at me, wider.</p>
        <p>Narrow in and you&rsquo;ve lost sight-</p>
        <p>there is nothing exacting to discover within,</p>
        <p>only a totality</p>
        <p>existing nowhere precisely&nbsp;</p>
        <p>extrapolated never surely</p>
        <p>impacting fully through fullness,</p>
        <p>which slips betweens the dots and points&nbsp;</p>
        <p>of composition and moves like water</p>
        <p>through river bends, between rocks and then-</p>
        <p>into air...</p>
        <p>&nbsp;</p>
        <p>until it is not there</p>
        <p>any longer but somewhere, some way else</p>
        <p>a bit differently than how you had expected</p>
        <p>and I continue</p>
        <p>and I invent</p>
        <p>and I negotiate</p>
        <p>and even still, I move</p>
        <p>missing you&nbsp;</p>
        <p>until we collide</p>
        <p>Next.</p>
        <p>again</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <em>written by: Meagan Woods</em>
    </div>
</body>
</html>