@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root {
    --primary-color: #eee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: black;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}
body {
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    /* z-index: -1; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#sketch-container {
    position: absolute;
    /* border: 1px solid white; */
    overflow: hidden;
    width: 100vw;
    height: 56.25vw;
}
#stream-container {
    display: none;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 56.25vw;
    background-color: white;
}
#welcome-page {
    display: block;
    position: absolute;
    /* overflow: hidden; */
    overflow-y: scroll;
    width: 100vw;
    height: 56.25vw;
    background-color: black;
}
@media (min-aspect-ratio: 16/9) {
    #sketch-container {
        height: 100vh;
        width: 177.78vh;
    }
    #stream-container {
        height: 100vh;
        width: 177.78vh;
    }
    #welcome-page {
        max-height: 100vh;
        width: 177.78vh;
    }
}


.hide {
    display: none;
}
.show {
    transition: 2s;
    opacity: 1.0 !important;
}
#fsButton {
    position: absolute;
    padding: 0.3rem 0.8rem;
    bottom: 10px;
    right: 10px;
}

/* Welcome page styling */
.welcome-container {
    padding: 2rem;
    width: 100%;
    /* min-height: 100%; */
}
.welcome-container h1 {
    padding: 1rem 0;
}
.welcome-container .quote {
    padding-left: 1rem;
}
.welcome-container button {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin: 1rem 0;
}
.welcome-container li {
    font-size: 0.8rem;
}

.extra-padding {
    padding-bottom: 3rem;
}

.control-bar {
    position: relative;
    width: 100%;
    padding: 0.2rem 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
}

#startButton {
    padding: 1rem;
    font-size: 1rem;
}

.equifinality {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.equifinality .popup-equi {
    visibility: hidden;
    width: 200px;
    font-size: 0.8rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
}
/* Popup arrow */
.equifinality .popup-equi::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.equifinality .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }